.home{
    display: flex;
    height:100vh;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    
    
}
/* .home input{
    padding-bottom: 10px;
    width:200px;
    padding: 10px 5px;
    outline: none;
} */

.home button {

 
    background-color:blue;
    border-radius: 5px;
    margin-top:5px;
    font-size: 16px;
    padding:10px 15px;
    border: 1px solid white;
    transition: 0.8s;
    cursor: pointer;
}
.form-container{
    height:380px;
    width: 400px;
    background-color: rgba(155, 14, 14, 0.837);
    padding: 10px 15px;
    border-radius: 6px;
    box-shadow: 13px 13px 5px -7px rgba(255,255,255,0.37);   
}
.home .form-container >input{
    width:100%;
    border-radius: 5px;
    padding: 13px 0;
    background-color: rgba(198, 192, 192, 0.83);
    margin-top: 5px;
    font-size: 15px;
    text-align: center;
}
.form-container >lable{
    font-size: 20px;
    font-weight: bold;
    color: aliceblue;

}
.form-container >input::placeholder{
    text-align: center;
    font-size: 20px;
    color: rgb(40, 35, 35);
}
.form-container h1{
    color: aliceblue;
}

.form-container button:hover{
    background-color: rgba(11, 86, 177, 0.732);
    transform: scale(0.95);
}